.headerLogo{
    text-align: center;
}
.navegacion{
    padding-top: 2%;
    display: flex;
}
.navBar{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    align-items: center;
}
.navBar > li{
    padding: 12px;
    border: 1px solid;
    border-radius: 20px;
}
.navBar > li:hover{
    color: yellow;
    cursor: pointer;
}